body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-wrapper {
    margin: 5% auto;
    max-width: 400px;
}

.main-wrapper .form-input, .add-project-container .form-input {
    margin-bottom: 0.5%;
    margin-top: 0.2% !important;
}

.left {
    float: left
}

.right {
    float: right
}

.btn-container, .add-project-buttons {
    float: left;
    text-align: center;
    margin-top: 0.8%;
}

.btn-container Button, .add-project-buttons Button {
    margin: 3% 3% 0;

}

.members {
    margin: 1%;
}

.members .ant-table-wrapper {
    margin-top: 1%;
    width: 100%
}

.projects {
    margin: 1%;
}

.projects .ant-table-wrapper {
    margin-top: 1%;
    width: 100%
}

.add-member-container {
    margin: 1%;
}

.add-member-container .ant-input {
    margin-bottom: 0.5%;
    margin-top: 0.2% !important;
}

.add-member-container button {
    margin-top: 5% !important;
}

.add-project-container {
    margin: 1%;
}
